@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Oregano", serif;
  font-weight: 400;
  font-size: 20px;
  background-color: white;
  background-image: url(rb_2148999280.png);
  background-repeat: no-repeat;
  background-position: center;
}

nav{
  width: 98%;
  height: 20px;
  margin: 14px auto;
  padding: 20px 0;
  background: rgba(256, 256, 256, 0.4) no-repeat center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px lightgray ;
  transition: 150ms ease-out;
}

nav:hover{
  transform: scale(100.5%);
  transition: 200ms ease-in-out;
}

a{
  color: black;
  text-decoration: none;
  margin: 0 30px;
}

#box1{
  width: 60%;
  height: fit-content;
  margin: 80px auto auto auto;
  padding: 25px;
  background: rgba(256, 256, 256, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 15px lightgray ;
}

select{
  border: 1px solid black;
  border-radius: 6px;
  padding: 4px 0 4px 5px;
  font-size: 20px;
  font-family: "Oregano", serif;
  width: 98%;
  margin-top: 5px;
}

button{
  width: 99%;
  font-size: 20px;
  font-family: "Oregano", serif;
  padding: 4px 5px 4px 5px;
  border: 1px solid black;
  border-radius: 6px;
  color: white;
  background-color: black;
  transition: 150ms ease-out;
}

button:hover{
  border: 1px solid black;
  color: black;
  background-color: white;
  transform: scale(101%);
  transition: 150ms ease-in;
}

button:disabled{
  color: #555;
  background-color: lightgray;
  border: 1px solid #555;
  cursor: not-allowed;
}

/* @media screen and (max-width: 500px) {
  #linkTable{
    width: 90%;
    height: 200px;
  }
}

*/

footer{
  text-align: right;
  font-style: italic;
  font-size: 10px;
  color: white;
  background-color: #1a1d1c;
  width: 100%;
  margin: 0;
  
}

@media screen and (max-width: 720px) {
  body {
    font-size: 18px;
  }

  nav{
    margin: 5px auto 0 auto;
  }

  #box1{
    width: 90%;
  }

  a{
    margin: 0 10px;
  }
}
